#!/bin/python
from locust import task
from framework.core.hailstorm import Hailstorm, HailSet


class Hails(HailSet):
    
    @task(1)
    def delay100(self):
        self.client.get('/wait/100')

    @task(0)
    def random_delay(self):
        self.client.get('/wait/100/300')

    @task(0)
    def not_found(self):
        self.client.get('/status/404')

    @task(0)
    def fail(self):
        self.client.get('http://localhost:9090/')


class Coldfront(Hailstorm):
    config = {
        'default': {
            'host': 'http://localhost:8888',
            'clients': 10,
            'slaves': [
                'micke@localhost',
                'micke@localhost'
            ]
        },
        'aiohttp': {
            'host': 'http://localhost:3456'
        },
        'nc': {
            'host': 'http://192.168.22.92:3456',
            'clients': 50,
            'rps': 10,
            'slaves': [
                'root@nuc.nc'
            ]
        },
        'high': {
            'clients': 500,
            'rps': 100
        },
        'test': {
            'constant_minutes': 60
        },
        'to_docker_host': {
            'host': 'http://172.17.0.1:8888'
        },
        'no_host': {
            'host': ''
        },
        'local': {
            'slaves': [
                'micke@localhost'
            ]
        },
        'nuc': {
            'host': 'http://192.168.22.90:3456',
            'slaves': [
                'root@nuc.nc'
            ],
            'clients': 70
        },
        'one_core': {
            'clients': 1
        }

    }
    task_set = Hails


if __name__ == '__main__':
    Hailstorm.test(Coldfront, profile='no_host')
